body {
   background-color: rgb(180, 176, 134);
}

.col_icons {
    background-color: red;
    width: 30px;
    .first_icon {
        li{
            list-style: none;
            .fa-facebook {
                color: blue;}
            .fa-github {
                color: black;
                }
            .fa-linkedin {
                color: blue;
            }
            .fa-youtube {
                color: red;
            }
        }
        
    }
    
}



.second_icons {
    list-style: none;
    background-color: none;
    .fa-facebook {
        color: blue;}
    .fa-github {
        color: black;
        }
    .fa-linkedin {
        color: blue;
    }
    .fa-youtube {
        color: red;    
}
}